@media (max-width: 1200px) {

    .flexs {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 992px) {
    .flexs {
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width: 576px) {
    .flexs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}



